.boton-wp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366; /* Verde WhatsApp */
  color: white;
  font-size: 28px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  text-decoration: none;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.boton-wp:hover {
  transform: scale(1.1);
  background-color: #20b958;
}
