.footer {
  
   background: linear-gradient(to bottom, #005598, #00355e);
  color: #f1eeea;
  padding: 40px 120px 20px 120px;
     font-family: "Montserrat", sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 20px;
  
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  height: 55px;
}


/* Redes sociales */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icon {
  font-size: 35px;
  color: #f1eeea;
  transition: color 0.3s ease;
  text-align: center;
  justify-items: center;
}

.social-icon:hover {
  color: #df5438;
}

/* Secciones del footer */
.footer-section {
  min-width: 200px;
}

.footer-section h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 6px 0;
  font-size: 14px;
  color: #e9e9e9;
}

.footer-icon {
  margin-right: 6px;
  color: #f1eeea;
}

/* Parte inferior */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #e0e0e0;
}


/* Responsive */
@media (max-width: 850px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }
}

