.main-home {
  /* font-family: 'Nixie Uno '; */
 font-family: "Montserrat", sans-serif;
}

/*-----------------------imagen deL fondo--------------------- */ 
.hero {
  position: relative;
  background: url("../assets/fondo-hero.jpg") center/cover no-repeat;
  color: white;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding: 0 20px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: rgba(124, 124, 124, 0.6);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.hero-content h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
}

/* ---------------------------------------botón principal -----------------------------------*/
.btn-primary {
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
  font-family: 'Nixie Uno ';
  font-size: 16px;
  background: linear-gradient(to bottom, #DF5438, #8b3524);

}

.btn-primary:hover {
  background: linear-gradient(to bottom, #DF5438, #DF5438);
  animation: button-particles 1s ease-in-out infinite;
  transform: scale(1.05);
}

.beautiful-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* -------------------------------------- VALORES ------------------------------------------ */
.valores {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}
.valor-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px;
}
.cards .card-uno {
   background: linear-gradient(to bottom, #DF5438, #b3432d);
}


.cards .card-dos {
   background: linear-gradient(to bottom, #005598, #00355e);
   
}

.cards .card-tres {
 background: linear-gradient(to bottom, #201e1e, #201e1e);
}


.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 200px;
  width: 500px;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: 400ms;
  font-size: 1.1rem;
  padding: 20px;
}

.cards .card h3 {
  font-weight: 500; /* negrita */
  margin-bottom: 3px;
}

.cards .card p {
  font-weight: 200; /* normal */
  line-height: 1.4;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}


/* --------------------------------- PRODUCTOS ---------------------------------------- */
.productos {
  text-align: center;
  padding: 40px 20px;
}

.productos-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.producto-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 250px;
  height: 300px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  transition: transform 0.3s ease;
}

.producto-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.producto-card p {
  font-weight: 600;
  color: #003366;
  margin-top: 10px;
}

.producto-card:hover {
  transform: scale(1.05);
}



/* ---------- CATEGORÍAS ---------- */
.categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin: 10px;
  justify-content: center;
}

.categoria {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

.categoria img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
  border-radius: 15px;
  opacity: 0.7;
}

.categoria:hover img {
  transform: scale(1.1);
  opacity: 0.6;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 15px;
}
.titulo{
   margin: 60px;
   color: #005598;
   justify-items: center;
   text-align: center;
   font-size: 26px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 40px 20px;
  }

  .hero-content h1 {
    font-size: 1.5rem;
  }

  .btn-primary {
    padding: 8px 18px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.2rem;
  }

  .btn-primary {
    width: 100%;
    max-width: 200px;
  }
}

@media (max-width: 900px) {
  .categorias {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .categorias {
    grid-template-columns: 1fr;
  }
}


