/* ===== NAV SUPERIOR ===== */
.navbar-top {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* font-family: 'Nixie Uno'; */
 font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #005598, #00355e);
  color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(189, 189, 189, 0.2);
  transition: all 0.6s ease;
  opacity: 1;
  transform: translateY(0);
}

.navbar-top.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

.nav-content {
  display: flex;
  /* justify-content: center;
  align-items: center; */


}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;

}

.link {
  text-decoration: none;
  background:white;
  color: #005598;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.link:hover {
  background: #DF5438;
  color: #fff;
  transform: scale(1.05);
}


/*----------------oPCION PARAA  QUE EL LATERAL NO SEA COMPLETO ----------*/
.navbar-side {
  position: fixed;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  width: 50px;
  /* background: rgba(0, 53, 94, 0.5); */
    background: linear-gradient(to bottom, #005598, #00355e);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 0 10px 10px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 999;
  opacity: 0;
  transition: all 0.6s ease;
  box-sizing: border-box;
}



.navbar-side.visible {
  left: 0;
  opacity: 1;
}

.side-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin: 0;
  width: 100%;
}


.side-item {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.side-icon {
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.side-icon:hover {
  transform: scale(1.2);
  color: #f0f0f0;
}

/* ===== TOOLTIP ===== */
.side-item::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.side-item:hover::after {
  opacity: 1;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 850px) {
  .navbar-side {
    display: none;
  }
}